<!doctype html>
<html>
<head>
<script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap2.min.js"></script>
    <meta charset="UTF-8">
    <TITLE>Area de usuarios
</TITLE>
        <script>                     
            function salir(){
                location.href="frontend_controller.php?flag=true";
            }
        </script>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="shortcut icon" href="../Imagenes/JoaquinVGonzalez222.ico">
        <link rel="stylesheet" href="../css/Styles-m1.css">	
		<link rel="stylesheet" href="../css/Styles-m2.css">
           <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/abm.css">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        

</head>
<body>  
        {% include 'navbar.html'%}

		<div class="main_wrapper"> 
            <div class="lineal-banner">
                        <img id="banner-v1" src="../Imagenes/banner.png" title="Banner" alts="Banner" >
                        <img id="escudoUNLP-v1" src="../Imagenes/escudo-UNLP.jpg.png" title="Escudo" alt="Escudo" >
                        <div class="text-tittle">{{titulo}}</div>
			         </div>
            <div class="main_container">
            <div class="contents">
                <ul>
</ul>
            <table summary='Tabla con el listado de alumnos registrados en el sistema' class="table table-striped" >   <!--id='tabla-alumnos'-->
        <thead>
          <tr>
            <th id='col_dni'>Número de documento</th>
            <th id='col_ape' >Apellido</th>
            <th id='col_nom' >Nombre</th>
              <th id='col_fecnac'>Fecha de nacimiento</th>
            <th id='col_acc'>Acciónes</th>
          </tr>
        </thead>
        {% for alumno in alumnos %}
         <tr>
          <td headers='col_dni'>{{alumno['numeroDoc']}}</td>
          <td headers='col_ape'>{{alumno['apellido']}}</td>
          <td headers='col_nom'>{{alumno['nombre']}}</td>
          <td headers='col_fecnac'>{{alumno['fechaNacimiento']}}</td>
          <td headers='col_acc'>
            <a href="detalle-alumno.php?idalumno={{alumno['id']}}"><img class='iconoListado' alt='Ver mas información del alumno' title='Ver mas información del alumno' src='Imagenes/iconoInfo.png'></a>
            <a href="modificar-alumno.php?idalumno={{alumno['id']}}"><img class='iconoListado' alt='Modificar la información del alumno' title='Modificar la información del alumno' src='Imagenes/iconoModif.png'></a>
            <img class='iconoListado' alt='Eliminar alumno' title='Eliminar alumno' src='Imagenes/iconoElim.png'>
            </td>
        </tr>
        {% else %}
            <li><em>no user found</em></li>
         {% endfor %}
             </div>
        </div>
		<footer>{{contacto}}</footer>
		</div>
	</body>
</html>