
<!DOCTYPE html>

<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
    <link rel="stylesheet" href="../css/Styles-m1.css">
        <script type="text/javascript" src="../js/jquery.min.js"></script>
  <script type="text/javascript" src="../js/bootstrap2.min.js"></script>
        <title>Escuela Graduada Joaquín V. González</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../Imagenes/JoaquinVGonzalez222.ico">
        
        <link rel="stylesheet" href="../css/bootstrap.css">
        <script type="text/javascript">                     
            function salir(){
                location.href="frontend_controller.php?flag=true";
            }
        </script>
    </head>
    <body> 
         {% include 'navbar.html'%}
        <div class="real-Body"> 
            <div class="lineal-banner">
            <img id="banner-v1" src="../Imagenes/banner.png" title="banner" alt="banner">
            <img id="escudoUNLP-v1" src="../Imagenes/escudo-UNLP.jpg.png" alt="escudounlp" title="escudo" >
            <div class="text-tittle">{{datos['titulo']}}</div>    <!--Escuela Graduada Joaquín V. González-->
        </div>  
            <div class="conteiner-config">
                <form action="#" method="POST">     
            <div class="container-menu-config"> <label id="titulo-configadmin"> Menu de configuracion </label></div>
                <hr>
                
        <label class="label-imput-contigAdmin" >Estado: </label>
        <select   id="imput-adminconfig" class=" form-control" name="habilitada">
            <option value="1" {% if datos['habilitada'] == 1 %} selected {% endif %}>habilitada</option>
            <option value="0" {% if datos['habilitada'] == 0 %} selected {% endif %}>desabilitada</option></select><br>
         
        <label class="label-imput-contigAdmin" > Titulo de  la cooperativa: </label>
        <input  id="imput-adminconfig2" type="text" name="titulo" class=" form-control" value="{{datos['titulo']}}"><br>
        
        <label class="label-imput-contigAdmin" > Contacto: </label>
        <input  id="imput-adminconfig3" type="text" name="mailContacto" class=" form-control" value="{{datos['mailContacto']}}"><br>
        
        <label class="label-imput-contigAdmin" > Cantidad de elementos por pagina: </label>
        <input   id="imput-adminconfig4" type="number" class=" form-control" name="cantElem" value="{{datos['cantElem']}}" min="1" max="10"><br>
         <input name="token" value="{{token}}" hidden="">
        
        <label class="label-imput-contigAdmin"> Mensaje pagina desabilitada </label>
        <input   id="imput-adminconfig5" type="text" class=" form-control" name="textoDeshab" value="{{datos['textoDeshab']}}"><br>
        
        
         <label class="label-imput-contigAdmin" > Descripcion: </label>
        <textarea id="text-imput" required="" class="form-control" maxlength="2600" rows="3" name="descripcion">{{datos['descripcion']}}</textarea>
        <button value="{{datos['clave']}}" name="clave" id="buttom-contigAdmin" type="submit" class="btn-block btn btn-primary">Actualizar</button>    
            
            
             
            
            
            
          </form> 
        </div>
            
        <footer>{{datos['mailContacto']}}</footer>
        </div>
        
    </body>
</html>