<!doctype html>
<html lang="es">
<head>
<script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap2.min.js"></script>
  <script src="../js/boostrap-modal.js"></script>
    <meta charset="UTF-8">
    <TITLE>Area de usuarios
</TITLE>
        <script>                     
            function salir(){
                location.href="frontend_controller.php?flag=true";
            }
        </script>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="shortcut icon" href="../Imagenes/JoaquinVGonzalez222.ico">
        <link rel="stylesheet" href="../css/Styles-m1.css"> 
    <link rel="stylesheet" href="../css/Styles-m2.css">
           <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/abm.css">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        

</head>
<body>  
    {% include 'navbar.html'%}
    <div class="real-Body main_wrapper"> 
            <div class="lineal-banner">
                        <img id="banner-v1" src="../Imagenes/banner.png" title="Banner" alt="Banner">
                        <img id="escudoUNLP-v1" src="../Imagenes/escudo-UNLP.jpg.png" title="Escudo" alt="Escudo" >
                        <div class="text-tittle">{{titulo}}</div>
               </div>
            <div class="main_container">
            <div class="contents">
                <ul>
</ul>		{% if usuarios|length > 0 %}
            <table  class="table table-striped" >   <!--id='tabla-alumnos'-->
        
          <caption><h4>Usuarios activos en el sistema</h4></caption>
                      
           <thead>                          


          <tr>
            <th id='col_nom'>Nombre de usuario</th>
            <th id='col_rol' >Rol</th>
            <th id='col_acc'>Acciónes</th>
          </tr>
        </thead>
        {% for usuario in usuarios %}
         <tr>
          <td headers='col_nom'>{{usuario['username']}}</td>
          <td headers='col_rol'>{{usuario['rol']}}</td>
         
          <td headers='col_acc'>
            <FORM   action='../controlador/controlador_modificar_usuario.php' method='POST'>
              <input  title='Modificar la información del usuario' class='iconoListado' type="image" src="../Imagenes/iconoModif.png" alt="Modificar usuario" name='idusuariocarga' value='{{usuario['id']}}' />
            </FORM>

            <img  data-toggle="modal" data-target="#{{usuario['id']}}" class='iconoListado' alt='Eliminar alumno' title='Eliminar alumno' src='../Imagenes/iconoElim.png'>


            </td>
        </tr>
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id='{{usuario['id']}}' aria-labelledby="myLargeModalLabel" style="display: none;">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <h4 class="modal-title">Confirme eliminación del usuario {{usuario['nombre']}} </h4>
                </div>
                <div class="modal-body">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cancelar</button>
                    <form method='post' action='#'>
                      <button type='submit' name='ideliminar' value='{{usuario['id']}}' class="btn btn-danger">Confirmar</button>
                    </form>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>
        {% endfor %}
		</table>
		{% include 'barra_paginacion.html' %}
        {% else %}
            
            <h3>No hay usuarios registrados</h3>
         
         {%endif%}
            
             </div>
            
        </div>
  
    <footer>{{contacto}}</footer>
    </div>
  </body>
</html>

