<!doctype html>
<html lang="es">
<head>
<script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap2.min.js"></script>
  <script src="../js/boostrap-modal.js"></script>
    <meta charset="UTF-8">
    <TITLE>Area de responsables
</TITLE>
        <script>                     
            function salir(){
                location.href="frontend_controller.php?flag=true";
            }
        </script>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="shortcut icon" href="../Imagenes/JoaquinVGonzalez222.ico">
        <link rel="stylesheet" href="../css/Styles-m1.css"> 
    <link rel="stylesheet" href="../css/Styles-m2.css">
           <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/abm.css">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        

</head>
<body>  
    {% include 'navbar.html'%}
    <div class="real-Body main_wrapper"> 
            <div class="lineal-banner">
                        <img id="banner-v1" src="../Imagenes/banner.png" title="banner" alt="Banner" >
                        <img id="escudoUNLP-v1" src="../Imagenes/escudo-UNLP.jpg.png" title="escudo" alt="Escudo escuela" >
                        <div class="text-tittle">{{titulo}}</div>
               </div>
            <div class="main_container">
            <div class="contents">
                <ul>
</ul>		{% if responsables|length > 0 %}
            <table summary='Tabla con el listado de responsables registrados en el sistema' class="table table-striped" >   <!--id='tabla-alumnos'-->
        <thead>
          <caption><h4>Responsables activos en el sistema</h4></caption>    
             {%if elimino_responsable %} 
             <div class="alert alert-success alert-dismissable">
  					<button type="button" class="close" data-dismiss="alert">&times;</button>
					  <strong>Se elimino.</strong> el responsable.
						</div>
             {%endif%} 
             {%if agrego_responsable %} 
             <div class="alert alert-success alert-dismissable">
  					<button type="button" class="close" data-dismiss="alert">&times;</button>
					  <strong>Se agrego.</strong> el responsable.
						</div>
             {%endif%} 
             {%if ultimo_responsable %} 
             <div class="alert alert-danger alert-dismissable">
  					<button type="button" class="close" data-dismiss="alert">&times;</button>
					  <strong>No puede quedarse sin Responsables.</strong> por favor agregue otro responsable para poder eliminar.
						</div>
             {%endif%} 
          <tr>
            <th id='col_nom'>Nombre</th>
            <th id='col_ap'>Apellido</th>
            <th id='col_tipo'>Tipo</th>
            <th id='col_sexo'>Sexo</th>
            <th id='col_nac'>Fecha Nacimiento</th>
            <th id='col_mail' >Mail</th>
            <th id='col_tel'>Telefono</th>
            <th id='col_acc'>Acciónes</th>
          </tr>
        </thead>
           {% for responsable in responsables %}
           {% set va = true %}
                {% for a_r in alumno_responsables %}
                {%if responsable.id in a_r.idResponsable %} 
               <tr class="success">
                   {% set va = false %}
                {%endif%}      
                <FORM   action='../controlador/controlador_modificar_alumno_responsable.php' method='POST'>
              <input type="hidden" class="form-control" value="{{idAlumno}}" name="idAlumno">
          
                   
                

                  {%endfor%}
          <td headers='col_nom'>{{responsable['nombre']}}</td>
          <td headers='col_ap'>{{responsable['apellido']}}</td>
          <td headers='col_tipo'>{{responsable['tipo']}}</td>
          <td headers='col_sexo'>{{responsable['sexo']}}</td>
          <td headers='col_nac'>{{responsable['fechaNacimiento']}}</td>
          <td headers='col_mail'>{{responsable['mail']}}</td>
          <td headers='col_tel'>{{responsable['telefono']}}</td>   
          <td headers='col_acc'>
              {% if va == true%}
             <input id="imagenes-operaciones-listado"  title='Asignar responsable' class='iconoListado' type="image" src="../Imagenes/iconoModif.png" alt="Asignar responsable" name='idResponsable' value='{{responsable.id}}' >
             
              </FORM>

              {%else%}{% set va = true %}  
              <img id="imagenes-operaciones-listado" data-toggle="modal" data-target="#{{responsable['id']}}" class='iconoListado' alt='Eliminar responsable' title='Eliminar responsable' src='../Imagenes/iconoElim.png'>

              {%endif%}
              
               
            

            </td>
        </tr>
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id='{{responsable['id']}}' aria-labelledby="myLargeModalLabel" style="display: none;">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <h4 class="modal-title" id="myLargeModalLabel">Confirme eliminación del responsable {{responsable.nombre}} {{responsable.apellido}} </h4>
                </div>
                <div class="modal-body">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cancelar</button>
                    <form method='post' action='../controlador/controlador_modificar_alumno_responsable.php'>
                        
                     <input type="hidden" class="form-control" value='{{responsable.id}}' name="idResponsableEliminar">
         
                     <input type="hidden" name='id_alumno_eliminar' class="form-control" value='{{idAlumno}}'>
                      <button type='submit'  value='nada' class="btn btn-danger">Confirmar</button>
                    </form>

                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>
        
        
 
        {% endfor %}
		</table>

		{% include 'barra_paginacion.html' %}
        {% else %}
            
            <h3>No hay responsables registrados</h3>
         
         {%endif%}
            
             </div>
            
        </div>
  
    <footer>{{contacto}}</footer>
    </div>
  </body>
</html>