<!doctype html>
<html lang="es">
<head>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap2.min.js"></script>
    <script src="../js/boostrap-modal.js"></script>

     
    <script src="../js/highcharts.src.js"></script>
    <script src="../js/modules/exporting.js"></script>
   
    <meta charset="UTF-8">
    <TITLE> Area de Consultas </TITLE>
        <style type="text/css">
${demo.css}
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="../Imagenes/JoaquinVGonzalez222.ico">
    <link rel="stylesheet" href="../css/Styles-m1.css"> 
    <link rel="stylesheet" href="../css/Styles-m2.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/abm.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script type="text/javascript">
           function salir(){
                location.href="frontend_controller.php?flag=true";
            }
            
                       $(document).ready(function () {
     $('#container2').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Browser market shares January, 2015 to May, 2015'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: "Brands",
                colorByPoint: true,
                data: [{
                    name: "Microsoft Internet Explorer",
                    y: 56.33
                }, {
                    name: "Chrome",
                    y: 24.03,
                    sliced: true,
                    selected: true
                }, {
                    name: "Firefox", 
                    y: 10.38
                }, {
                    name: "Safari",
                    y: 4.77
                }, {
                    name: "Opera",
                    y: 0.91
                }, {
                    name: "Proprietary or Undetectable",
                    y: 0.2
                }, {
                    name: "Proprietary or Undetectable",
                    y: 0.2
                }, {
                    name: "Proprietary or Undetectable",
                    y: 700.2
                }, {
                    name: "Proprietary or Undetectable",
                    y: 70.2
                }, {
                    name: "Proprietary or Undetectable",
                    y: 0.2
                }, {
                    name: "Proprietary or Undetectable",
                    y: 0.2
                }, {
                    name: "Proprietary or Undetectable",
                    y: 0.2
                }
                ]
            }]
        });
        $('#container').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Monto total de cuotas'
        },
        subtitle: {
            text: 'Source: WorldClimate.com'
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']
        },
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Cuota',
            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0]
        }]
    });
});


        </script>>
</head>
<body>  
    {% include 'navbar.html'%}
    <div class="real-Body main_wrapper"> 
            <div class="lineal-banner">
                        <img id="banner-v1" src="../Imagenes/banner.png" alt="Smiley face" title="banner" >
                        <img id="escudoUNLP-v1" src="../Imagenes/escudo-UNLP.jpg.png" alt="Smiley face" title="escudo" >
                        <div class="text-tittle">{{titulo}}</div>
               </div>
            <div class="main_container"> 

             
            <div class="navbar-lateral">
			<form  action="../controlador/controlador_listadosAlumnosConMatricula.php" method="POST" >
			<div class="imputround-checkbox" ><input type="radio" name="tipodel" value="1"  {%if datospost == 1 %} checked="checked" {% endif%}>Listado de alumnos con matricula paga</div>
			<div class="imputround-checkbox" ><input  type="radio" name="tipodel" value="2" {%if datospost == 2 %} checked="checked" {% endif%}>Listado de cuotas pagadas</div>
      <div class="imputround-checkbox" ><input  type="radio" name="tipodel" value="3" {%if datospost == 3 %} checked="checked" {% endif%}>Listado de cuotas impagas</div>
      <input name="token" value="{{token}}" hidden="">
			<button type="submit" id ="boton-consultas-listados" class="btn btn-default ">Listar</button>
			</form>
      {% if datospost != 4  %}
            <a href="../controlador/controlador_listadosAlumnosConMatricula.php?pdf={{datospost}}&token={{token}}" class="classbuttonconvertpdf"><img src="../Imagenes/Adobe_PDF.png" alt="Smiley face" style="    width: 17px;
    margin-right: 3%;" title="icon-pdf">Generar PDF</a>
    {% endif %}
           </div>
              {% if datospost == 1 %}
              <div class="main-container-tabla">
            <table id="tabla-consultas-listados" class="table table-striped" >   <!--id='tabla-alumnos'-->

        <thead>
          <tr>
            <th id='col_email'>fecha de inscripcion</th>
            <th id='col_ape' >Apellido</th>
            <th id='col_nom' >Nombre</th>
            <th id='col_monto' >Monto</th>
            <th id='col_nomm' >Comision</th>
            
          </tr>
        </thead>
        {% for alumno in alumnosConMatricula %}
         <tr>
          <td headers='col_email'>{{alumno['fechaAlta']}}</td>
          <td headers='col_ape'>{{alumno['apellido']}}</td>
          <td headers='col_nom'>{{alumno['nombre']}}</td>
          <td  headers='col_monto'>{{alumno['monto']}}</td>
          <td headers='col_nomm'>{{alumno['comisionCob']}}%</td>
          
        </tr>
    
      {% else %}

                        
                        <h3 id="idmensajeempty">No hay datos para mostrar</h3>
 {% endfor %}
        </table>
        </div>
          {% include 'barra_paginacion_consulta.html' %}
            

            {% elseif datospost == 2 %}
            <div class="main-container-tabla">
                        <table    id="tabla-consultas-listados" class="table table-striped" >   <!--id='tabla-alumnos'-->
                    <thead>
                      <tr>
      
                        <th id='col_ape' >Apellido</th>
                        <th id='col_nom' >Nombre</th>
                        <th id='col_nomm' >Nro cuota</th>
                        <th id='col_nommm' >Fecha</th>
                        <th id='col_monto' >Monto</th>
                        <th id='col_nommmm' >Comision</th>
                      </tr>
                    </thead>
                    {% for alumno in alumnosConMatricula %}
                     <tr>
     
                      <td headers='col_ape'>{{alumno['apellido']}}</td>
                      <td headers='col_nom'>{{alumno['nombre']}}</td>
                      <td  headers='col_nomm'>{{alumno['numero']}}</td>
                      <td headers='col_nommm'>{{alumno['FechaAlta']}}</td>
                      <td headers='col_monto'>{{alumno['monto']}}</td>
                      <td headers='col_nommmm'>{{alumno['comisionCob']}}%</td>
                   
                      
                    </tr>
                
                   {% else %}

                        
                        <h3 id="idmensajeempty">No hay datos para mostrar</h3>
 {% endfor %}
                      </table>
                      </div>
                      {% include 'barra_paginacion_consulta.html' %}
                {% elseif datospost == 3 %}
                <div class="main-container-tabla">
                 <table id="tabla-consultas-listados"  
                    class="table table-striped" >   <!--id='tabla-alumnos'-->
                <thead>
                  <tr>
                   
                        <th id='col_nom' >Nro cuota</th>
                        <th id='col_nomm' >Fecha</th>
                        <th id='col_monto' >Nombre</th>
                        <th id='col_nommm' >Apellido</th>
                        <th id='col_monto' >Monto</th>
                        <th id='col_nommmm' >Comision</th>
                  </tr>
                </thead>
                
                 
                  
                  {% for alumno in alumnosConMatricula %}
                  <tr>
                  <td  headers='col_fecnac'>{{alumno['numero']}}</td>
                  <td headers='col_dni'>{{alumno['mes']}}/{{alumno['anio']}}</td>
                  <td headers='col_dni'>{{alumno['nombre']}}</td>
                  <td headers='col_email'>{{alumno['apellido']}}</td>
                  <td headers='col_email'>{{alumno['monto']}}</td>
                      <td headers='col_dire'>{{alumno['comisionCob']}}%</td>
                </tr>
                   {% else %}

                        
                        <h3 id="idmensajeempty">No hay datos para mostrar</h3>
 {% endfor %}
                    </table>
                    </div>
                      {% include 'barra_paginacion_consulta.html' %}
                  {% endif %}

            
             </div>
            
       
  
    <footer>{{contacto}}</footer>
    </div>
  </body>
</html>