              {%if cuotas_pagas|length == 0%}
                <h2>El alumno {{nombrealumno}} no tiene pagos registrados </h2>
                {%else%}
                 

 <div class="dropdown">
  <button class="btn btn-default  dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Cuotas pagas del alumno {{nombrealumno}}
    <span class="caret"></span>
  </button> 
<table class="dropdown-menu table-condensed" aria-labelledby="dropdownMenu1" class="table" >   <!--id='tabla-alumnos'-->
        <thead>
          <tr>
            <th class='tabla-dropdown' id='col_tipo1'>Tipo</th>
            <th class='tabla-dropdown' id='col_anio1' >Año</th>
           <th class='tabla-dropdown' id='col_mes1'>Mes</th>
            <th class='tabla-dropdown' id='col_num1' >Numero</th>
              
              <th  class='tabla-dropdown' id='col_monto1'>Monto</th>
              <th class='tabla-dropdown' id='col_comision1'>Comision</th>
              <th class='tabla-dropdown' id='col_fec1'>Fecha del pago</th>
              <th class='tabla-dropdown' id='col_estado1'>Estado</th>
          </tr>
        </thead>
        {% for cuota_pag in cuotas_pagas %}
         <tr>
          <td headers='col_tipo1'>{{cuota_pag['tipo']}}</td>
          <td headers='col_anio1'>{{cuota_pag['anio']}}</td>
          <td headers='col_num1'>{{cuota_pag['numero']}}</td>
          <td  headers='col_mes1'>{{cuota_pag['nombre']}}</td>
          <td headers='col_monto1'>${{cuota_pag['monto']}}</td>
          <td headers='col_comision1'>{{cuota_pag['comisionCob']}}%</td>
          <td headers='col_fec1'>{{cuota_pag['fecha']}}</td>
          <td headers='col_estado1'>{%if cuota_pag['becado']==1%}Becada{%else%}Pagada{%endif%}</td>
        </tr>
        {%endfor%}
        </table>
        </div>
        {%endif%}